include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ai_assistant *.css
recursive-include ai_assistant *.csv
recursive-include ai_assistant *.html
recursive-include ai_assistant *.ico
recursive-include ai_assistant *.js
recursive-include ai_assistant *.json
recursive-include ai_assistant *.md
recursive-include ai_assistant *.png
recursive-include ai_assistant *.py
recursive-include ai_assistant *.svg
recursive-include ai_assistant *.txt
recursive-exclude ai_assistant *.pyc